@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 100% 95%;
    --foreground: 218 5% 10%;
    --card: 218 50% 90%;
    --card-foreground: 218 5% 11%;
    --popover: 218 100% 95%;
    --popover-foreground: 218 100% 10%;
    --primary: 218 54.4% 22.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 180 30% 85%;
    --muted-foreground: 218 5% 35%;
    --accent: 180 30% 80%;
    --accent-foreground: 218 5% 11%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 50%;
    --input: 218 30% 18%;
    --ring: 218 54.4% 22.4%;
    --radius: 1rem;
  }
  .dark {
    --background: 218 50% 10%;
    --foreground: 218 5% 90%;
    --card: 218 50% 10%;
    --card-foreground: 218 5% 90%;
    --popover: 218 50% 5%;
    --popover-foreground: 218 5% 90%;
    --primary: 218 54.4% 22.4%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 30% 11%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 30% 15%;
    --muted-foreground: 218 5% 60%;
    --accent: 180 30% 15%;
    --accent-foreground: 218 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 218 5% 90%;
    --border: 218 30% 18%;
    --input: 218 30% 18%;
    --ring: 218 54.4% 22.4%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
